.filled svg {
	fill: var(--primary);
}

.star {
	margin-right: 5px;
}

.editable {
	cursor: pointer;
}

.editable:focus {
	outline: 2px solid var(--primary);
	outline-offset: 2px;
	border-radius: 4px;
}

.error svg {
	stroke: red;
}

.rating {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: var(--red);
}
