# NPM Configuration
# Bu fayl loyihangiz uchun npm sozlamalarini belgilaydi

# Legacy peer deps - har safar --legacy-peer-deps yozmaslik uchun
legacy-peer-deps=true

# Auto install peer deps (optional)
# auto-install-peers=true
