.productSkeleton {
	padding: 30px;
	background: white;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin-bottom: 30px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
	gap: 10px;
}

.priceRow {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 15px;
}

.rating {
	margin-bottom: 20px;
}

.tags {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.characteristics {
	margin-bottom: 20px;
}

.actions {
	margin-top: 20px;
}
