.textarea {
	width: 20%;
	padding: 12px 16px;
	font-size: 16px;
	border: 1px solid var(--gray-light);
	border-radius: 8px;
	outline: none;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.textarea:focus {
	border-color: var(--gray-light);
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
}

.textarea::placeholder {
	color: var(--gray);
}

.textarea:disabled {
	background-color: var(--white);
	color: var(--gray-light);
	cursor: not-allowed;
}

.textarea.error {
	border-color: var(--red);
	background-color: var(--gray);
}
