@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

#nprogress .bar {
	background-color: var(--red) !important;
	height: 10px;
}

:root {
	--font-family: 'Roboto', sans-serif;
	--black: #000000;
	--gray-light: #aeaeae;
	--gray: #a4a4a4;
	--gray-dark: #485c7c;
	--white: rgb(234, 235, 234);
	--primary: #1e1e1e;
	--primary-hover: #08011a;
	--red: #ff6449;
	--red-light: #ff8874;
	--green: #0fbd74;
	--green-light: #cbffe9;
	--menu-sidebar: #d3deff;
}
