.h1 {
	font-size: 26px;
	margin: 0;
	line-height: 35px;
	font-weight: 600;
}

.h2 {
	font-size: 22px;
	line-height: 35px;
	font-weight: 500;
	margin: 0;
}

.h3 {
	font-size: 20px;
	line-height: 27px;
	font-weight: 600;
	margin: 0;
}

@media (max-width: 768px) {
	.h1 {
		font-size: 22px;
		line-height: 30px;
	}

	.h2 {
		font-size: 20px;
		line-height: 28px;
	}

	.h3 {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (max-width: 480px) {
	.h1 {
		font-size: 20px;
		line-height: 26px;
	}

	.h2 {
		font-size: 18px;
		line-height: 24px;
	}

	.h3 {
		font-size: 16px;
		line-height: 22px;
	}
}
