.wrapper {
	display: grid;
	grid-template-columns: auto 330px minmax(320px, 1200px) auto;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	gap: 40px 30px;
	grid-template-areas:
		'. header header .'
		'. sidebar body .'
		'footer footer footer footer';
}

.header {
	grid-area: header;
}

.body {
	grid-area: body;
}

.sidebar {
	grid-area: sidebar;
}

.footer {
	grid-area: footer;
}

@media (max-width: 1200px) {
	.wrapper {
		gap: 30px 20px;
		grid-template-columns: auto 280px minmax(320px, 900px) auto;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		gap: 20px 15px;
		grid-template-columns: 20px 260px 1fr 20px;
	}
}

@media (max-width: 900px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
			'header'
			'body'
			'footer';
		gap: 0;
	}

	.sidebar {
		display: none !important;
	}

	.header {
		display: block;
	}

	.body {
		padding: 15px;
	}
}

@media (max-width: 480px) {
	.body {
		padding: 10px;
	}
}
